.accordion {
    &-item {
        margin-top: 5px;
        height: 10rem;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid lightgray;
        border-radius: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
            "image title title status"
            "image title title status"
            "image source source ."
            "image source source ."
            "image ingredbtn instructbtn savebtn"
            "image ingredbtn instructbtn savebtn"
            "image ingredbtn instructbtn savebtn";
        align-content: stretch;
    }

    &-image {
        grid-area: image;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
        object-fit: scale-down;
        height: 100%;
        width: 100%;
    }

    &-status {
        grid-area: status;
        padding: 0.2rem;
        justify-content: center;
        object-fit: scale-down;
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        align-items: stretch;
    }

    &-status-icon {
        height: 100%;
    }

    &-status-text {
        justify-self: stretch;
        align-self: center;
        padding-left: 0.5rem;
        color: rgb(50, 138, 50);
        display: inline-flex;
        text-align: center;
    }

    &-title {
        grid-area: title;
        padding: 0.5rem;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: larger;
        justify-items: center;
    }

    &-source {
        grid-area: source;
        padding: 0.5rem;;
        text-align: center;
        justify-items: center;
        color: darkslategray;
        height: 100%;
        width: 100%;
    }

    &-ingred-btn{
        grid-area: ingredbtn;
        padding: 1px;
        width: 80%;
        align-items: center;
        outline: none;
        // border: none;
        height: 85%;
    }

    &-instruct-btn{
        grid-area: instructbtn;
        width: 80%;
        align-items: center;
        outline: none;
        // border: none;
        height: 85%;
    }

    &-save-btn{
        grid-area: savebtn;
        width: 80%;
        align-items: center;
        outline: none;
        // border: none;
        height: 85%;
    }

    &-ingred-content {
        display: none;
        padding: 0 0.5rem;
        opacity: 0;
        transition: all .5s;
        height: 0;
        margin: 0;
        // margin-top: -10px;
        // border: 1px solid lightgray;
        // border-top: 0;
    }

    &-ingred-content.active {
        display: block;
        height: auto;
        width: 100%;
        opacity: 1;
        padding: 0.5rem;
        margin: 0.8rem 0rem;
    }
    
}

table th,
table td{
  text-align: left;
}
table.layout{
  width: 100%;
  border-collapse: collapse;
}
table.display{
  margin: 1em 0;
}
table.display th,
table.display td{
  border: 1px solid #B3BFAA;
  padding: .5em .5em;
}

table.display th{ background: #D5E0CC; }

table.responsive-table{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 30em){
    table.responsive-table{
      box-shadow: none;  
    }
    table.responsive-table thead{
      display: none; 
    }
  table.display th,
  table.display td{
    padding: .5em;
  }
    
  table.responsive-table td:nth-child(1):before{
    content: 'Number';
  }
  table.responsive-table td:nth-child(2):before{
    content: 'Name';
  }
  table.responsive-table td:nth-child(1),
  table.responsive-table td:nth-child(2){
    padding-left: 25%;
  }
  table.responsive-table td:nth-child(1):before,
  table.responsive-table td:nth-child(2):before{
    position: absolute;
    left: .5em;
    font-weight: bold;
  }
  
    table.responsive-table tr,
    table.responsive-table td{
        display: block;
    }
    table.responsive-table tr{
        position: relative;
        margin-bottom: 1em;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }
    table.responsive-table td{
        border-top: none;
    }
    table.responsive-table td.recipeingredient{
        background: #D5E0CC;
        border-top: 1px solid #B3BFAA;
    }
    table.responsive-table td.actions{
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background: none;
    }
}

.match-item {
  margin: 3px;
  color: rgb(143, 250, 143);
  cursor: pointer;
}

.block-item {
  margin: 3px;
  color:rgb(238, 143, 143);
  cursor: pointer;
}

.add-item {
  color: rgb(123, 194, 123);
  cursor: pointer;
  margin: 3px;
}

.matched-item {
  color: rgb(123, 194, 123);
  margin: 3px;
}

.undo {
  color: rgb(136, 175, 167);
  cursor: pointer;
  margin: 3px;
}

.actions{
  text-align: center;
  padding: 0rem;
}