.homeContainer {
    width: 100vw;
    height: 100vh;
    z-index: 1;
};

.jumbotron {
    border-radius: .3rem;
    position: relative;
    overflow: hidden; 
    width: 100vw; 
    height: 275px;
    margin: 2rem 0rem 2.1rem 0rem ;
};
  
.jumbotron-video {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
};
  
.videoTag {
    width: 100%;
};
  
.homeHeader {
    text-align: center;
    font-weight: bold;
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    position: relative;
};
  
.homeSubHeader {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding-bottom: 12px;
};
  
.container-home-card-deck{
    width: 100%;
    padding: 1rem 10rem;
    display: flex;
    position: absolute;
    justify-content: stretch;
    justify-self: stretch;
    align-self: stretch;
};


@mixin bp($point) {
    @media ($point) { @content; }
}
  
.home-card-deck {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 0.5rem 0.5rem;
    justify-content: stretch;
    justify-self: stretch;
    align-self: stretch;
};
  
.home-card {
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-clip: border-box;
    justify-content: stretch;
    align-self: stretch;
    border: 1px solid rgba(0, 0, 0, .125)
};
  
.card {
    &-img-top{
        padding: 0.1rem;
        width: 35%;
        height: 35%;
        object-fit: scale-down;
        top: calc(.25rem - 1px);
        bottom: calc(.25rem - 1px);
        align-self: center;
        justify-self: stretch;
        position: relative;
    }
    &-body {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-gap: 0.5rem;
        padding: 0.5rem;
        align-self: stretch;
        justify-self: stretch;
    }
    &-title {
        font-size: 1rem;
        justify-self: stretch;
        align-self: center;
        text-align: center;
    }
    &-text {
        font-size: 0.8rem;
        justify-self: stretch;
        align-self: center;
    }
}
  
.hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
};
  
// @media (min-width: 576px){
//     .jumbotron {  
//     }
//   }