.add-ingredient {
    &-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(253, 251, 247);
        z-index: 1000;
        height: 75%;
        width: 60%;
    }
    
    &-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.7);
        z-index: 999;
    }

    &-form{
        width: 100%;
        height: 100%;
    }
    
    &-form-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background: rgb(253, 251, 247);
        padding: 40px; 
        transition: 0.5s;
    }
    
    &-button {
        max-width: 100px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        transition: 0.5s;
    }
}

.form-title{
    text-align: center;
    padding: 2rem 0
}

.wrapper{
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}

.form-row{
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
    height: 3rem;
}

.form-row > label {
    padding: .5em;
    flex: 1;
    font-size: 13px;
    // text-align: right;
}
  
.form-row > input {
    flex: 2;
}
  
.form-row > input,
  .form-row > button {
    padding: .5em;
}

.form-row > button {
   background: gray;
   color: white;
   border: 0;
}
 
@media screen and (min-width: 768px) {
   	.form-row > input {
    	flex: 3;  
   }
}
 
@media screen and (min-width: 992px) {
   	.form-row > input {
    	flex: 4;  
   }
}
 
@media screen and (min-width: 1200px) {
   	.form-row > input {
    	flex: 5;  
   }
}