@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(253, 251, 247);
}

.homeContainer {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

